@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



$base-color: black;

body {
  color: white;
  background-image: url("https://i.ibb.co/wNfcR8v/synthwave-background-1.webp");
  background-position: center;
  font-family: 'Audiowide', cursive;
  text-shadow: 2px 2px 0 #0000, 4px 4px 0 #000;
  text-align: center;
}

.game-title {
  color: hotpink;
  text-align: center;
  padding: 25px;
  font-weight: bold;
  font-size: 50px;
}

#before-sign-in {
  text-align: center;
  padding: 50px;
}

#message {
  color: white;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 0 #0000, 4px 4px 0 #000;

  }

.submit-button {
  background-color: hotpink;
  color: black;
  border-radius: 10px;
}

// After sign in: sign out button, game board and new game button

#after-sign-in {
  display: none;
}

#sign-out {
  background-color: black;
  color: hotpink;
  border-radius: 15px;
  padding: 3px 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  &:hover {
    transform: scale(1.05) perspective(1px)
  }
}

#new-game-button {
  background-color: black;
  color: hotpink;
  font-size: 30px;
  font-family: 'Audiowide', cursive;
  padding: 14px 75px;
  border-radius: 40px;
  text-align: center;
  box-shadow: #FF2D95 0px 0px 50px;
  margin-top: 10px;
  bottom: 10px;
  left: 50%;
    &:hover {
      transform: scale(1.05) perspective(1px)
    }
}
// GAME BOARD
.game-board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 310px;
    margin: 30px auto;
}

.cell {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 3px solid hotpink;
    background-color: $base-color;
    &:hover {
      background-color: lighten($base-color, 10%);
      transform: scale(1.02) perspective(1px);

    }
}
